GOOGLE_API_KEY="AIzaSyTuClaveSuperSecretaAqui"
WHATSAPP_PHONE_ID=1101156869753554
WHATSAPP_TOKEN=EAAOIIZCVuDSwBRTZA3xO0j6qZCkNj90igib9zZCGXvEZCjNbkYAX9hUrX0rZCVp9k28FnsTKSQIHARCYVX7lHBRCd2ADetSZCa5RHEbvUHZAot7E5znUhNKbT6pBXkkLqCgrFHZCgiNwOMKDTpaFXAB6gIVAOh9syAbrCjldZA04udhLAQH38rZCWVShNYg9LqVvFsvZAj2Mlgu5ZCZCuYt9MucFvGiEZAefFtzZCIOPCP4Vs8J0rfcNwgjMfhZC8EXYTeq5UmZCvsrbjntnJZBXZBPJHzsrWdwiFfqLrNoAoVBdiqKh
VERIFY_TOKEN=IA_matelu_2026