# Ignorar variables de entorno
.env

# Ignorar base de datos e historial de SQLite y sus logs de WAL
*.db
*.db-wal
*.db-shm
ventas.db
historial.db

# Ignorar carpetas del entorno de Python
__pycache__/
*.pyc
venv/
env/
.venv/